body {
  background-color: rgb(251, 253, 255);
}

.main-grid-container {
  margin-left: 50px;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    "header"
    "gallery";
}

.header-grid {
  grid-area: header;
  width: 100%;
  height: 50px;
}

.aside-grid {
  height: 100vh;
  width: 50px;
  border-right: 1px solid rgba(204, 200, 200, 0.64);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  position: fixed;
  top: 0;
  left: 0;
}

.test:hover {
  transform: scale(1.05);
  padding: 10px;
  background-color: lightgray;
  border-radius: 10px;
}

.galery {
  grid-area: gallery;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 150px;
  gap: 15px;
  padding: 20px;
  grid-auto-flow: dense;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item {
  border-radius: 15px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.large {
  grid-row: span 2;
  grid-column: span 2;
}

.tall {
  grid-column: span 2;
}

.wide {
  grid-row: span 2;
}

.test {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}


@media (max-width: 768px) {
  .aside-grid {
    width: 40px;
    gap: 15px;
  }

  .test {
    width: 18px;
    height: 18px;
    padding: 5px;
  }

   .galery {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-auto-rows: 120px;
  }
}



