@font-face {
  font-family: "cera_proregular";
  src: url("../fonts/cera_pro_regular-webfont.eot");
  src: url("../fonts/cera_pro_regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_regular-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_regular-webfont.woff") format("woff"),
    url("../fonts/cera_pro_regular-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_regular-webfont.svg#cera_proregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_problack";
  src: url("../fonts/cera_pro_black-webfont.eot");
  src: url("../fonts/cera_pro_black-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_black-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_black-webfont.woff") format("woff"),
    url("../fonts/cera_pro_black-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_black-webfont.svg#cera_problack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_promedium";
  src: url("../fonts/cera_pro_medium-webfont.eot");
  src: url("../fonts/cera_pro_medium-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_medium-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_medium-webfont.woff") format("woff"),
    url("../fonts/cera_pro_medium-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_medium-webfont.svg#cera_promedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_probold";
  src: url("../fonts/cera_pro_bold-webfont.eot");
  src: url("../fonts/cera_pro_bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/cera_pro_bold-webfont.woff2") format("woff2"),
    url("../fonts/cera_pro_bold-webfont.woff") format("woff"),
    url("../fonts/cera_pro_bold-webfont.ttf") format("truetype"),
    url("../fonts/cera_pro_bold-webfont.svg#cera_probold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cera_prolight";
  src: url("/Practice/fonts/cera_pro_light-webfont.eot");
  src: url("/Practice/fonts/cera_pro_light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("/Practice/fonts/cera_pro_light-webfont.woff2") format("woff2"),
    url("/Practice/fonts/cera_pro_light-webfont.woff") format("woff"),
    url("/Practice/fonts/cera_pro_light-webfont.ttf") format("truetype"),
    url("/Practice/fonts/cera_pro_light-webfont.svg#cera_prolight")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background-color: rgb(227, 227, 227);
  font-family: "cera_prolight";
}

.flex-vh-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  display: grid;
  grid-template-areas:
    "aside header"
    "aside body";
}

.calendar-header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: repeat(1, 80px);
  column-gap: 10px;
  justify-items: center;
  align-items: center;
}

.calendar-aside {
  grid-area: aside;
  display: grid;
  grid-template-columns: repeat(1, 300px);
  grid-template-rows: repeat(24, 45px);
  grid-row-start: 2;
  justify-items: end;
  align-items: end;
}

.calendar-body {
  display: grid;
  grid-area: body;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: repeat(24, 45px);
  column-gap: 10px;
  position: relative;
}

.cell {
  background-color: rgb(218, 223, 223);
  border: 1px solid rgba(75, 131, 103, 0.3);
  border-radius: 5px;
}

.day-label {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border-bottom: 1px solid black;
}

.hour-label {
  width: 30px;
  padding-right: 10px;
  padding-left: 5px;
  border-bottom: 1px solid black;
  margin-right: 5px;
}

.events-container {
  column-gap: 10px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: repeat(24, 45px);
  grid-auto-flow: column;
}

.event {
  background-color: rgba(24, 113, 186, 0.2);
  text-align: center;
  border-radius: 15px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  color: rgba(103, 108, 102, 0.4);
  border: 1px solid rgba(24, 113, 186, 0.7);
  transition: 0.2s ease-in;
}

.event1 {
  grid-column: 4;
  grid-row: 5 / span 6;
}

.event2 {
  grid-column: 1;
  grid-row: 3 / 5;
}

.event3 {
  grid-column: 3;
  grid-row: 9 / span 2;
}

.event:hover {
  background-color: rgba(24, 113, 186, 0.6);
  color: rgb(29, 33, 28, 0.7); 
  transform: scale(1.02);
}
